*.a
*.d
*.dSYM
*.def
*.diff
*.dll
*.dylib
*.elc
*.epub
*.exe
*.fn
*.html
*.ky
*.ll
*.llvm
*.log
*.o
*.orig
*.out
*.patch
*.rej
*.so
*.swo
*.swp
*.tmp
*.toc
*~
.#*
.DS_Store
.cproject
TAGS
TAGS.emacs
TAGS.vi
cscope*
\#*
\#*\#
